@import "../../App.css";
.Menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .logoContainer{
        
    }
    ul{
        list-style-type: none;
        display: flex;
        li{
            margin: 10px 20px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
        }
    }
    .btn{
        background-color: var(--black);
        color: var(--white);
        height: 40px;
        width: 150px;
        border: none;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }
}