
.Footer{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 80%;
    margin: auto;
    
    .footerInfo{
        height: 100%;
        display: flex;
        width: 50%;
 .flexConatiner{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height: 100%;
     padding: 0 20px ;
     margin-right: 20px;
   
        .social{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                margin: 8px;
                // svg{

                //     path{
                //         // fill: white;

                //     }
                //     &:hover{
                //         path{
                //             // fill:white;
                //         }
                //     }
                // }
            }
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                color: var(--white);
                font-weight: 400;
                margin: 13px;
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }
    }
    .copyrights{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        p{
            color: var(--white);
            opacity: 100%;
            display: inline;
            &:hover{
                text-decoration: underline;
            }

        }
        img{
            position: absolute;
            top: 5px;
            left:120px;
        }
        .btn{
            color: white;
            position: relative;

        }
    }
   
}